
/*
 em HTML é id = em CSS é # (só pode um elemento)

 em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 35px;
    color:rgb(8, 255, 173)
}

h1#principal{
    text-align: center;
    color: white;
font-size: 50px;
background-color:blue ;
}
h2{
    color: greenyellow;
}
h2.basico{
    color: green;
}
h2.intermediario{
    color: yellow;
}
h2.avançado{
    color: red;
}
p{color: white;}